@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: rgb(0, 10, 45);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: #777;
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*
 =====================
  Reusable Code Start
 =====================
 */
.container {
  max-width: 140rem;
  margin: 0 auto;
}

.section {
  padding: 9rem 0rem;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
  padding: 1.6rem 3.2rem;
  border: none;
  color: #f3f4ff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn:hover, .btn:active {
  box-shadow: 0px 20px 20px 0px rgba(132, 144, 155, 0.3);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}
.common-heading::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #8490ff;
  border-radius: 50%;
}
.common-heading::after {
  content: "";
  position: absolute;
  top: calc(110% + 6px);
  left: 1.5rem;
  min-width: 20rem;
  height: 0.3rem;
  background-color: #8490ff;
}

/*
 =====================
  Reusable Code End
 =====================
 */
/*
 =====================
  Header Section Start
 =====================
 */
.header {
  padding: 0 4.8rem;
  height: 10rem;
  background-color: rgb(249, 249, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  height: 3rem;
}
.header .navbar .navbar-list {
  display: flex;
  gap: 4.8rem;
}
.header .navbar .navbar-list .navbar-link:link, .header .navbar .navbar-list .navbar-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
  transition: color 0.3s linear;
}
.header .navbar .navbar-list .navbar-link:hover, .header .navbar .navbar-list .navbar-link:active {
  color: #8490ff;
}

/*
 =====================
  Header Section End
 =====================
 */
/*
 =====================
  Hero Section Start
 =====================
 */
.hero-section {
  background-color: rgb(249, 249, 255);
}
.hero-section .hero-section-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .hero-section-data .hero-top-para {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: #8490ff;
}
.hero-section .hero-section-data .hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.4rem;
}
.hero-section .hero-section-data .hero-bottom-para {
  margin: 1.5rem 0 5rem 0;
  max-width: 60rem;
}
.hero-section .hero-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .hero-section-image .hero-image {
  max-width: 80%;
}

/*
 =====================
 Hero Section End
 =====================
 */
/*
 =====================
 Bio Data Section Start
 =====================
 */
.biodata-section .bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.biodata-section .bio-image img {
  width: 80%;
  box-shadow: -2rem -2rem 0 0 #8490ff;
}
.biodata-section .biodata-stats {
  display: flex;
  flex-direction: column;
  padding: 6.4rem 0;
  gap: 3rem;
}
.biodata-section .biodata-stats .bio-stats h3 {
  margin-bottom: 1rem;
}
.biodata-section .biodata-stats .bio-stats .bio-progress-bar {
  position: relative;
  background-color: #e4e4e4;
  width: 90%;
  height: 0.8rem;
  box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
  border-radius: 10rem;
}
.biodata-section .biodata-stats .bio-stats .bio-progress-bar::before {
  content: "";
  border-radius: inherit;
  background: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
  width: 80%;
  position: absolute;
  height: 100%;
}
.biodata-section .biodata-stats .bio-stats .bio-progress-bar span {
  position: absolute;
  background-color: #8490ff;
  width: 4rem;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.8rem;
  left: calc(80% - 20px);
}
.biodata-section .biodata-stats .bio-stats .bio-progress-bar span::after {
  content: "";
  position: absolute;
  border: 0.8rem solid #8490ff;
  border-color: transparent;
  border-bottom-color: #8490ff;
  top: -15px;
}
.biodata-section .biodata-stats .bio-stats .progress-2 span {
  left: calc(70% - 20px);
}
.biodata-section .biodata-stats .bio-stats .progress-2::before {
  width: 70%;
}
.biodata-section .biodata-stats .bio-stats .progress-3 span {
  left: calc(65% - 20px);
}
.biodata-section .biodata-stats .bio-stats .progress-3::before {
  width: 65%;
}
.biodata-section .biodata-stats .bio-stats .progress-4 span {
  left: calc(50% - 20px);
}
.biodata-section .biodata-stats .bio-stats .progress-4::before {
  width: 50%;
}

/*
 =====================
 Bio Data Section End
 =====================
 */
/*
 =====================
 Portfolio Section Start
 =====================
 */
.portfolio-section {
  background-color: rgb(249, 249, 255);
  transition: all 0.7s linear;
}
.portfolio-section p {
  max-width: 60rem;
}
.portfolio-section .p-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin: 6.4rem 0;
}
.portfolio-section .p-btns .p-btn {
  transform: scale(0.9);
}
.portfolio-section .p-btns .active {
  transform: scale(1.3);
}
.portfolio-section .portfolio-images {
  gap: 3.2rem;
}
.portfolio-section .portfolio-images .hide {
  display: none;
}
.portfolio-section .portfolio-images img {
  width: 100%;
  height: 100%;
}
.portfolio-section .portfolio-images .img-overlay {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}
.portfolio-section .portfolio-images .img-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
  opacity: 0;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
}
.portfolio-section .portfolio-images .img-overlay .overlay .common-heading {
  margin: 0;
  color: white;
}
.portfolio-section .portfolio-images .img-overlay .overlay .common-heading::before, .portfolio-section .portfolio-images .img-overlay .overlay .common-heading::after {
  content: none;
}
.portfolio-section .portfolio-images .img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.8;
}

/*
 =====================
 Portfolio Section End
 =====================
 */
/*
 =====================
 Work Section Start
 =====================
 */
.work-section {
  background: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
  text-align: center;
  transition: all 0.7s linear;
  color: white;
}
.work-section .counter-numbers {
  font-size: 4.8rem;
}
.work-section p {
  color: white;
}

/*
 =====================
 Work Section End
 =====================
 */
/*
 =====================
 Services Section Start
 =====================
 */
.services-section {
  transition: all 0.7s linear;
}
.services-section p {
  max-width: 60rem;
}
.services-section .grid {
  margin-top: 10rem;
}
.services-section .service-box {
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
  border-radius: 5px;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
}
.services-section .service-box:hover, .services-section .service-box:active {
  transform: translateY(-3rem);
}
.services-section .service-box .services-icon {
  width: 8rem;
  height: 8rem;
  background-color: rgba(144, 172, 209, 0.2);
  display: inline-flex;
  border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: rgb(0, 10, 45);
  justify-content: center;
  align-items: center;
  -webkit-animation: wave 3s linear infinite;
          animation: wave 3s linear infinite;
}
.services-section .service-box .services-icon::after {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  border: 1px solid black;
  border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  -webkit-animation: wave 5s linear infinite;
          animation: wave 5s linear infinite;
}

@-webkit-keyframes wave {
  0% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85%/72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
}

@keyframes wave {
  0% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85%/72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
}
/*
 =====================
 Services Section End
 =====================
 *//*# sourceMappingURL=style.css.map */