@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  // 1rem = 10px
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: $heading;
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: $para;
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*
 =====================
  Reusable Code Start
 =====================
 */
.container {
  max-width: 140rem;
  margin: 0 auto;
}

.section {
  padding: 9rem 0rem;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: $gradient;
  padding: 1.6rem 3.2rem;
  border: none;
  color: $hepler_tint;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover,
  &:active {
    box-shadow: $shadow_support;
  }
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $helper;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(110% + 6px);
    left: 1.5rem;
    min-width: 20rem;
    height: 0.3rem;
    background-color: $helper;
  }
}

/*
 =====================
  Reusable Code End
 =====================
 */

/*
 =====================
  Header Section Start
 =====================
 */

.header {
  padding: 0 4.8rem;
  height: 10rem;
  background-color: $bg;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 3rem;
  }

  .navbar {
    .navbar-list {
      display: flex;
      gap: 4.8rem;

      .navbar-link {
        &:link,
        &:visited {
          display: inline-block;
          font-size: 1.8rem;
          font-weight: 500;
          text-transform: uppercase;
          color: $black;
          transition: color 0.3s linear;
        }

        &:hover,
        &:active {
          color: $helper;
        }
      }
    }
  }
}

/*
 =====================
  Header Section End
 =====================
 */

/*
 =====================
  Hero Section Start
 =====================
 */

.hero-section {
  background-color: $bg;

  .hero-section-data {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero-top-para {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 500;
      color: $helper;
    }

    .hero-heading {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 6.4rem;
    }

    .hero-bottom-para {
      margin: 1.5rem 0 5rem 0;
      max-width: 60rem;
    }
  }

  .hero-section-image {
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-image {
      max-width: 80%;
    }
  }
}

/*
 =====================
 Hero Section End
 =====================
 */

/*
 =====================
 Bio Data Section Start
 =====================
 */

.biodata-section {
  .bio-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      box-shadow: -2rem -2rem 0 0 $helper;
    }
  }

  .biodata-stats {
    display: flex;
    flex-direction: column;
    padding: 6.4rem 0;
    gap: 3rem;

    .bio-stats {
      h3 {
        margin-bottom: 1rem;
      }

      .bio-progress-bar {
        position: relative;
        background-color: $para_tint;
        width: 90%;
        height: 0.8rem;
        box-shadow: $shadow;
        border-radius: 10rem;

        &::before {
          content: "";
          border-radius: inherit;
          background: $gradient;
          width: 80%;
          position: absolute;
          height: 100%;
        }

        span {
          position: absolute;
          background-color: $helper;
          width: 4rem;
          height: 2rem;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 1.8rem;
          left: calc(80% - 20px);

          &::after {
            content: "";
            position: absolute;
            border: 0.8rem solid $helper;
            border-color: transparent;
            border-bottom-color: $helper;
            top: -15px;
          }
        }
      }

      .progress-2 {
        span {
          left: calc(70% - 20px);
        }

        &::before {
          width: 70%;
        }
      }

      .progress-3 {
        span {
          left: calc(65% - 20px);
        }

        &::before {
          width: 65%;
        }
      }

      .progress-4 {
        span {
          left: calc(50% - 20px);
        }

        &::before {
          width: 50%;
        }
      }
    }
  }
}

/*
 =====================
 Bio Data Section End
 =====================
 */

/*
 =====================
 Portfolio Section Start
 =====================
 */

.portfolio-section {
  background-color: $bg;
  transition: all 0.7s linear;

  p {
    max-width: 60rem;
  }

  .p-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin: 6.4rem 0;

    .p-btn {
      transform: scale(0.9);
    }

    .active {
      transform: scale(1.3);
    }
  }

  .portfolio-images {
    gap: 3.2rem;

    .hide {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .img-overlay {
      position: relative;
      overflow: hidden;
      border-radius: 7px;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $gradient;
        opacity: 0;
        display: flex;
        justify-content: center;
        border-radius: 7px;
        align-items: center;
        transform: translateY(100%);
        transition: all 0.3s linear;

        .common-heading {
          margin: 0;
          color: $white;

          &::before,
          &::after {
            content: none;
          }
        }
      }

      &:hover > .overlay {
        transform: translateY(0);
        opacity: 0.8;
      }
    }
  }
}

/*
 =====================
 Portfolio Section End
 =====================
 */
/*
 =====================
 Work Section Start
 =====================
 */
.work-section {
  background: $gradient;
  text-align: center;
  transition: all 0.7s linear;
  color: $white;

  .counter-numbers {
    font-size: 4.8rem;
  }

  p {
    color: $white;
  }
}

/*
 =====================
 Work Section End
 =====================
 */

/*
 =====================
 Services Section Start
 =====================
 */
.services-section {
  transition: all 0.7s linear;

  p {
    max-width: 60rem;
  }

  .grid {
    margin-top: 10rem;
  }

  .service-box {
    text-align: center;
    box-shadow: $shadow;
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all 0.2s linear;

    h3 {
      text-transform: capitalize;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    &:hover,
    &:active {
      transform: translateY(-3rem);
    }

    .services-icon {
      width: 8rem;
      height: 8rem;
      background-color: $icon;
      display: inline-flex;
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
      padding: 1.4rem 1.8rem;
      position: relative;
      color: $heading;
      justify-content: center;
      align-items: center;
      animation: wave 3s linear infinite;

      &::after {
        content: "";
        width: 90%;
        height: 90%;
        position: absolute;
        border: 1px solid black;
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
        animation: wave 5s linear infinite;
      }
    }
  }
}

@keyframes wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }

  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }

  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

/*
 =====================
 Services Section End
 =====================
 */

/*
 ================================
 Testimonial Swiper Section Start
 ================================
 */

.testimonial-section {
  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 9rem;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .client-message {
        padding: 5rem 8rem;
        background-color: $white;
        border-radius: 1rem;
        text-align: left;
        box-shadow: $shadow;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -10rem;
          transform: translateX(-50%);
          left: 50%;
          border: 5rem solid $white;
          border-color: transparent;
          border-top-color: $hepler_tint;
        }

        p {
          &::before {
            content: "\f10d";
            position: absolute;
            font-family: "Font Awesome 6 free";
            font-weight: 900;
            top: 0;
            left: 2rem;
            font-size: 5rem;
            color: #ced3ff;
          }

          &::after {
            content: "\f10e";
            position: absolute;
            font-family: "Font Awesome 6 free";
            font-weight: 900;
            bottom: 0;
            right: 3rem;
            font-size: 5rem;
            color: #ced3ff;
          }
        }
      }

      img {
        max-width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 0.5rem solid $hepler_tint;
      }

      .client-data {
        align-items: center;
        margin-top: 3rem;
        gap: 3.2rem;
      }
    }
  }
}

/*
 ================================
 Testimonial Swiper Section End
 ================================
 */

/*
 ================================
 Freelancing Section Start
 ================================
 */

.freelancing-section {
  background-image: url("../images/folio/3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  transition: all 0.7s linear;
  text-align: center;

  h2 {
    font-size: 5.4rem;
  }

  h2,
  p {
    color: $white;
    margin-bottom: 1.8rem;
  }

  span {
    color: #a0f669;
  }

  .container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $helper;
    opacity: 0.7;
  }
}

/*
 ================================
 Freelancing Section End
 ================================
 */

/*
 ================================
 Contact Section Start
 ================================
 */

.contact-section {
  .contact-main {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;

    .grid {
      gap: 3.2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    input,
    textarea {
      padding: 1.5rem 2rem;
      border: 0.1rem solid #c9c9c9;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      font-family: "work sans";
      width: 100%;
    }

    input[type="submit"] {
      border: none;
      max-width: 30%;
    }
  }
}

/*
 ================================
 Contact Section End
 ================================
 */

/*
 ================================
 Footer Section Start
 ================================
 */

.footer-section {
  background-color: $heading;
  h3 {
    color: $white;
    margin-bottom: 4rem;
  }
  .footer-about {
    p {
      color: #adadad;
    }
  }
  .footer-links,
  .footer-services,
  .footer-address {
    ul,
    address {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      justify-content: center;
    }
    li,
    a {
      font-size: 1.8rem;
      color: #adadad;
      text-transform: capitalize;
    }
    span {
      margin-right: 1rem;
    }
    p,
    a {
      font-style: normal;
      color: #adadad;
    }
  }
  .footer-social-icons {
    margin: 5rem 0;
    text-align: center;
    .icons {
      width: 4rem;
      height: 4rem;
      background-color: $icon_bg;
      display: inline-block;
      padding: 1.4rem 1.8rem;
      color: $white;
      animation: wave 3s linear infinite;
    }
  }
  .footer-credits {
    p {
      text-align: center;
      color: #adadad;
    }
  }
  a {
    transition: all 0.3s linear;
    &:hover,
    &:active {
      color: $white;
    }
  }
}

/*
 ================================
 Footer Section End
 ================================
 */
/*
 ================================
 Scroll Section Start
 ================================
 */
.scroll-top-div {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 1;
  .scroll-top-icon{
    height: 4rem;
    width: 4rem;
    background-color: $helper;
    display: inline-block;
    padding: 1.4rem 1.8rem;
    color: $heading;
    animation: wave 3s linear infinite;
    cursor: pointer;
  }
}
/*
 ================================
 Scroll Section End
 ================================
 */
