$heading: rgb(0, 10, 45);
$para: #777;
$para_tint: #e4e4e4;
$white: white;
$black: #212529;
$helper: #8490ff;
$hepler_tint: #f3f4ff;
$bg: rgb(249, 249, 255);
$gradient: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
$shadow: 0px 0px 20px 0px rgba(132, 144, 255, 20%);
$shadow_support: 0px 20px 20px 0px rgba(132, 144, 155, 30%);